.root {
    -fx-background-color: linear-gradient(to bottom right, #2193b0, #6dd5ed);
}

.title {
    -fx-font-family: "Arial Black";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}